/* Global Variables*/
* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --main-color: #43bfa9;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins';
    font-weight: 400;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    font-family: var(--body-font);
    outline: none;
    border: none;
}

.CustomButton {
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px 15px;
    height: 53px;
}

.CustomButton:hover {
    color: #ffffff;
}

span.logo {
    background-color: var(--main-color);
    ;
    color: #ffffff;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 5px;
}

.logo {
    color: var(--main-color);
    font-weight: 600;
}

a:hover {
    color: black;
}

/* Landing */
.landing {
    background-repeat: no-repeat;
    background-image: url('./landing.jpg');
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-end;
    height: 30vh;
    width: 100%;
}

.landing h1 {
    color: var(--main-color);
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}

/* Icons */
.Icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.IconBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    background-color: #ececec;
    border-radius: 5px;
}

.IconBox-Description h3 {
    color: var(--main-color);
}

/* Search */
.appointment-search-container {
    max-width: 1200px;
    width: 90%;
    background-color: #f5f7fb;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 16px 30px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
}

.appointment-search-container h3 {
    color: var(--second-color);
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.appointment-search {
    display: flex;
    align-items: center;
}

.appo-search-country a>img {
    width: auto;
    height: 50px;
}

.appo-search-box {
    width: 100%;
    height: 55px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.05);
}

.appo-search-box i {
    color: #535353;
    margin-right: 10px;
    font-size: 1.25rem;
}

.appo-search-box input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

.appointment-search button {
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px 15px;
    height: 53px;
}

/* (banner) */
#banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('./b14.jpg');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    padding: 20px;
}

.popular__container {
    padding: 1rem 0 5rem;
    display: flex; /* Ensure flex behavior */
    flex-direction: column; /* Stack the cards vertically by default */
    align-items: center; /* Center-align the content */
}

@media screen and (min-width: 1023px) {
    .popular__container {
        padding-top: 3rem;
        flex-direction: row; /* Restore horizontal alignment for larger screens */
        justify-content: center; /* Center-align horizontally */
    }
}

.swiper-wrapper {
    display: flex; /* Ensure swiper wrapper behaves as a flex container */
    justify-content: center; /* Center-align the cards */
    align-items: center; /* Vertically align content */
}

/* specialization */
.specialization {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialization .title {
    font-size: 2.2rem;
    color: var(--main-color);
    font-weight: 700;
    max-width: 600px;
    margin: 20px;
}

.specializationCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.customH {
    color: var(--main-color);
}

/* why */
.whyCards {
    display: flex;
    justify-content: space-between;
}

.whyBox-img img {
    width: 180px;
}

.whyCards .WhyBox {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whyBox-data {
    font-size: 25px;
    color: var(--main-color);
    margin-top: 10px;
}

/* Feedback */
.feedback {
    margin-bottom: 40px;
}

.t-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.t-profile-img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background-color: #c7d0eb;
    margin-right: 10px;
    overflow: hidden;
}

.t-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.t-profile-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.t-profile-text strong {
    color: var(--second-color);
    font-size: 1.2rem;
}

.t-profile-text span {
    color: #535353;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
}

.t-rating {
    font-size: 0.8rem;
    color: #ffbc02;
    margin-top: 5px;
}

/* footer */
footer {
    width: 100%;
    background-color: #f5f7fb;
}

.footer-container {
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-company-box {
    max-width: 330px;
}

.footer-company-box p {
    color: #585858;
    margin: 5px 0px;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.4rem;
}

.footer-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-social a {
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    color: #333333;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}

.footer-social a:hover {
    background-color: var(--second-color);
    color: #ffffff;
}

.footer-link-box strong {
    font-size: 1.2rem;
    color: var(--second-color);
    font-weight: 600;
}

.footer-link-box ul {
    margin-top: 5px;
}

.footer-container ul li a {
    color: #585858;
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: flex;
    transition: all ease 0.3s;
}

.footer-container ul li a:hover {
    color: var(--second-color)
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    border-top: 1px solid #e9e9e9;
    padding: 20px 0px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.footer-bottom span {
    color: #252525;
    font-size: 0.9rem;
}

@media (max-width: 850px) {
    .whyCards {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .whyCards .WhyBox {
        margin: 50px;
    }
}

@media(max-width:1200px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}

@media (max-width: 500px) {
    .whyCards .WhyBox {
        width: 150px;
    }
}

@media(max-width: 750px) {
    .appointment-search {
        flex-wrap: wrap;
    }

    .appointment-search button {
        width: -webkit-fill-available;
    }
}